body{
	font-family: 'Raleway', sans-serif;

/*TO ADD GRADIENT,DIFFERENT VERSIONS ACCORDING TO BROWSER FROM https://uigradients.com*/
background: #70e1f5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1{
	background: #2980b9;
	color:white;
	margin:0; /*TO REMOVE GAP BETWEEN H1 AND INPUT BOX*/
	padding:10px 20px;
	text-transform: uppercase;
	font-style: 24px;
	font-weight: normal;
}
ul{
	list-style: none; /*TO REMOVE BULLET POINT*/
	margin: 0;
	padding: 0;
}
span{
	background: #e74c3c;
	height:40px;
	margin-right: 20px;
	text-align: center;
	color:white;
	display: inline-block;
	width:0;
	opacity: 0;
}
li:hover span{
	width:40px;
	transition:0.5s linear;
	opacity: 1.0;
}
.fa-pencil-square-o{
	float: right;
}
li{
	height: 40px;
	line-height: 40px;
	color:#666;
	background: lightgray;
}
input{
	font-size: 18px;
	background: #f7f7f7;
	color:#2980b9;
	width:100%; /*THIS WIDTH IS ONLY CONTENT'S WIDTH NOT INCLUDING PADDING*/
	padding:13px 13px 13px 20px;
	box-sizing:border-box; /*THIS MAKES SURE THAT HEIGHT AND WIDTH NOW ALSO INCLUDE PADDING*/
	border:2px solid rgba(0,0,0,0);
}

/*TO DESIGN THE BORDER WHEN INPUT BOX SELECTD*/
input:focus{
	background: white;
	border: 3px solid #2980b9;
	outline:none;
}

li:nth-of-type(odd){
	background: #ffffff;
}
#container{
	width:360px;
	margin:100px auto;
	/*border-radius:10px;*/
	background: #f7f7f7;
	box-shadow: 0 0 3px rgba(44,44,44,0.5);
}
.selected{
	color:gray;
	text-decoration: line-through;
}